[2022-09-21 18:10] MahatmaFatalError commented on #522
@BoykoAlex I can't reproduce it either with a real-world class. So maybe it was just a anomaly in the matrix ;)

@martinlippert really? OK official docs https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#using.spring-beans-and-dependency-injection say it is needed when there are multiple constructors. I personally would prefer always having the annotation, but if the best practi

[2022-09-21 20:54] BoykoAlex commented on #522
@MahatmaFatalError A parameter is to be added to a constructor if the constructor meets the following criteria:
1. No constrcutors. Constructor is created and is not annotated. (
2. Only one constructor. Parameter is added.
3. Multiple constructors, only one annotated with `@Autowired`. This constructor is added a parameter.
Therefore, this refactoring doesn't add `@Autowired`. @martinlippert was

[2022-09-22 11:17] martinlippert commented on #811
It sounds to me like the `-Xlog:disable` switches off all logging, so it should include the more special variant `-Xlog:jni+resolve=off`, which only switches off logging for jni things.

[2022-09-22 11:18] martinlippert commented on #811
Details on the command line option: https://docs.oracle.com/en/java/javase/17/docs/specs/man/java.html#enable-logging-with-the-jvm-unified-logging-framework

[2022-09-22 11:31] martinlippert commented on #850
Thanks for reporting this @PratimGhosh86 , much appreciated. I can reproduce this, however the freeze doesn't seem to freeze the IDE forever, but for a certain (annoying) period of time (several seconds on my machine).

This this is something that seems to be related to the m2e project, I will close this one here as a duplicate and open another issue with the m2e project itself.

[2022-09-22 11:31] #850 closed

[2022-09-22 17:22] 4javier opened #851 "Available software sites list cluttered and update painfully slow"
My STS installation is extremely slow on updates. 5-10 kb/s in the fetching and calculating space phase.
I checked my available software sites and found some strange entries.
- unnamed ones
- duplicated
- there are even a bunch of local filesystem paths.

This is the export
[code]
Is there a clean list I can use, adding just the sources I know are needed by some libs I installed explicitly?
And an

[2022-09-23 08:33] martinlippert commented on #814
@gayanper Now that we have the 4.16.0.RELEASE out the door, lets investigate this in more depth. Can you share a sample project that reproduces the issue somehow and a few steps how to reproduce this? My initial tests are not showing a slowdown, but I am most likely not doing the right thing to cause the issue to appear on my end.

How do you measure/watch these things?

[2022-09-23 08:47] gayanper commented on #814
Sure i will try to reproduce this with latest extensions again and try to find a opensource project where you can also test if i still find the issue. Give me 3.-4 days to come back with the results.

[2022-09-23 08:48] martinlippert commented on #851
This looks indeed very broken and weird. I can see many update sites from various third-party extensions in this list, including Groovy-Eclipse, old things from Oracle, some a huge number of update sites from various Eclipse projects. This looks indeed like a huge mess.

From the Spring Tools perspective, we usually keep only two update sites around:

- https://download.eclipse.org/releases/latest

[2022-09-23 08:49] martinlippert commented on #814
Sure, thanks @gayanper for helping with the investigation here, very much appreciated!!!

[2022-09-23 09:34] 4javier commented on #851
Hi, thanks for replying about something that looks like is not exactly a "bug" in the software.
I prefer to stick with my distro package manager to install software, and with a real clean install I'd lose UI customization and probably git repos auth. Re-install without deleting config in home would make little sense, I suppose.
This is the list shown under Help→About STS4→Installed Software
[code]

[2022-09-23 09:41] martinlippert commented on #851
"Fetching p2.index from https://download.eclipse.org/whatever..."

Yes, the mechanism walks through all of the update sites in your preferences and downloads all the necessary information from all of them to see if there is anything "interesting".

To me the list looks fine and I indeed see only Groovy-Eclipse to be around beyond what you usually would get from a plain installation. In case you wa

[2022-09-23 09:41] #851 closed

[2022-09-23 10:04] olkornii commented on #797
@kdvolder I tried and this error still appears, but only sometimes for some reasons. Sometimes when creating a new project or importing some project and sometimes when deleting a project.

So steps are:

1. Install eclipse (Eclipse IDE for Enterprise Java and Web Developers): https://www.eclipse.org/downloads/packages/release/2022-09/rc1 -> install JBossTools (Help -> install new software -> http:

[2022-09-23 17:12] martinlippert commented on #827
I have seen this problem myself as well while testing a lot of things in VSCode, Remote Containers, and Codespaces. Need to investigate whether this happens in combination with the missing classpath information message or if this is an independent problem. I vaguely remember that I saw at least once the empty beans view, but symbols showed when executing the "search for symbols in workspace" comma

[2022-09-24 18:16] gayanper commented on #814
I cannot see the issue with latest version of springboot extension together with java extension. Hence I will close this and reopen if I come across again with either the project or some flight recordings with method samples.

[2022-09-24 18:16] #814 closed

[2022-09-26 02:54] Eskibear commented on #827
There's a known regression issue in dashboard extension v0.7.0 introduced when we were improving the performance. List of static beans and mappings can be empty if Spring LS starts slowly and doesn't respond within a period of time. That was fixed in v0.7.1 (will be released in this week). Currently you can use latest pre-release bits to get rid of its influence.

[2022-09-26 06:55] martinlippert commented on #827
@Eskibear Thanks for the update, good to know. But you still observe the issue that you sometimes you get an empty response for beans and mappings, right?

Additional question: When do you observe the slowness where the spring tools do not respond in a specific period of time? And how long is this period exactly?

[2022-09-26 07:15] martinlippert commented on #814
@gayanper Thanks for coming back to this and for the update, much appreciated.

[2022-09-26 07:21] martinlippert opened #852 "update signing certificate for pre-built third-party bubdles"
As reported here: https://stackoverflow.com/questions/73840447/how-do-i-resolve-an-expired-x509-certificate-issue-while-installing-sts4-from-ec

we need to update the signing certificate of the pre-built third-party bundles that we include (basically re-sign the bundles).

[2022-09-26 07:55] Eskibear commented on #827
Yes, there's some race condition in current impl of dashboard extension. Without a specific API, it has to proactively poll `workspace/symbols` to get static beans/mappings, without knowing whether an empty response is because a) Spring LS not yet ready or b) the project itself indeed has no symbols. Whenever classpath changes, it polls for latest static info. And I set a 'magic' timeout (5s) to p

[2022-09-26 10:01] martinlippert commented on #827
@Eskibear When a project changes, we wipe all symbols from the internal symbols cache and compute the news ones. This takes a while, depending on the size of the project and its classpath. We can try to improve performance in this space, but the fundamental race condition will remain: the dashboard doesn't really know when the spring-boot-ls is done and all the new symbols are ready to be visualiz

[2022-09-26 10:04] martinlippert commented on #827
@Eskibear We might be able to avoid the emptiness of the symbols when you ask for them by returning old cached symbols until the new ones are ready, but that doesn't really solve the problem. It would mean that you would always get the "correct" set of symbols (empty means no symbols), but you never really know whether a short moment later another set of symbols would be available.

[2022-09-26 14:15] deekshitharajesh commented on #412
<img width="735" alt="image" src="https://user-images.githubusercontent.com/70856350/192299638-32db39f4-13f9-4d90-8d7e-3a281f928663.png">

[2022-09-26 14:16] deekshitharajesh commented on #412
i am not able to create a spring project

[2022-09-26 15:07] martinlippert opened #853 "[open-rewrite] exception when executing quick fix for project"
I have a workspace running that points to the same open-rewrite validation/quick-fix to rename the `hello` method and configured it via the preferences:

- the `hello` method shows up with an error (correct)
- I can execute the quick fix for this occurrence or the file (works fine)
- executing the quick fix for `in project` results in the following exception

The sample validation/quick fix is unc

[2022-09-27 06:31] martinlippert commented on #412
@deekshitharajesh Did you try the solutions and recommendations from within this issue? Those should help to setup your environment to make this work.

[2022-09-27 07:17] martinlippert commented on #825
Next test in this area: project reconciling with a small project containing large source files goes crazy, quickly running out of heap space on the language server side, CPU spiking all the time.

Thread dump looks like this is the important piece:
[thread-dump-project-reconciling-large-sources.txt](https://github.com/spring-projects/sts4/files/9652701/thread-dump-project-reconciling-large-sources

[2022-09-27 14:26] BoykoAlex commented on #825
@martinlippert seems like this is another one for Rewrite folks to look at... What is the project you're trying? Still the antlr parser?

[2022-09-27 14:40] martinlippert commented on #825
@BoykoAlex Yes, and I already posted a comment to the open-rewrite issue that you raised... :-)

[2022-09-27 18:09] BoykoAlex commented on #853
Should be fixed with 7d4c7df7effc1f894ec724340f872b7e9b5891ff

[2022-09-27 18:09] #853 closed

[2022-09-28 03:17] Eskibear commented on #827
From the perspective of a downstream extension, I would expect the result exactly matching with the status of my workspace when `workspace/symbol` request is sent. Same for the coming API (if we will have on in the future). Returning the results only after all the actities are done is the most straightforward approach to me, but seems that you have more concerns.

I have a little bit different tas

[2022-09-28 03:28] Shiaming commented on #809
because of lombok, change the version

[2022-09-28 13:33] BoykoAlex commented on #811
@depressiveRobot do you need to add the same VM arg to the JDT LS launch? I don't think that JDT LS has `-Xlog:disable` by default which makes this somewhat questionable for the Boot LS. What are the JVM args of the running Boot App? What does JConsole show you?
(I suspect that you may have a special VM agent on your system as noted a few comments above which might be writing in the output stream

[2022-09-28 14:55] BoykoAlex commented on #811
@depressiveRobot can you please try turning off (uncheck) Auto-Connect to live app. It is under `Spring Boot Tools` settings, key is `boot-java.live-information.automatic-connection.on`? Try starting the app without auto-connect. This is the only feature that messes with the java launch in vscode. If it is off the launch should be identical to the java extension.
I suppose disabling Spring Boot To

[2022-09-28 17:28] BoykoAlex commented on #811
@depressiveRobot What about the VM args of the Spring Boot LS java process? What are the VM arguments for `BootLanguageServerBootApp` process in JConsole?

[2022-09-28 18:11] BoykoAlex commented on #811
@depressiveRobot
1. Ensure that VSCode (with Java and Spring Boot Tools extensions installed) is opened with a java file from Spring Boot project opened in the editor. Essentially this step ensures that Boot LS process is started.
2. Start `jconsole` from `<JAVA_HOME>/bin/jconsole`
3. JConsole UI should show you a list of running java processes. Find `org.springframework.ide.vscode.boot.app.BootLa

[2022-09-29 07:31] martinlippert commented on #811
After reading through this again, I have a few questions/suggestions here:

- as mentioned as few times here, the `-Xlog:disable` setting seems to solve the issue with the Spring Boot LS not starting or running correctly - even though we don't know exactly what is causing the Spring Boot LS to stop working without that setting. Can we find out what exactly is causing the Spring Boot LS to stop wor

[2022-09-29 22:30] BoykoAlex commented on #811
@depressiveRobot Lets continue trying to figure out why `-Xlog:disable` is necessary in your case as @martinlippert suggested.
1. Close all editors in your vscode.
2. Open `settings.json` (Crtl-Shift-P to open command palette, find the command **Preferences: Open User Settings (JSON)**
3. Add the following ` "vscode-spring-boot.trace.server": "verbose"` in the `settings.json` to trace all messages

[2022-09-30 11:37] JonathanHortman commented on #648
tengo el mismo problema

[2022-09-30 11:53] martinlippert commented on #648
@JonathanHortman Can you share the details of your issue and what exactly you are doing?

[2022-09-30 15:49] BoykoAlex commented on #811
@depressiveRobot looked through the JSON - this is the 1st request sent from the client to the server. Looks like the first response from the server either not sent or sent but not handled by the client... Do you get the error about the Content-Length property not set or actual content-length not equal to the one declared in the header? I mean the error at the top of the issue... Looked through th

[2022-10-03 00:41] BoykoAlex commented on #811
Something must be polluting sys out... I also have a mac m1 (great machine by the way) and seems to work fine so far for me.

Can you please try the same JVM that runs Java LS with the Boot LS? I recall that JVM for running Boot LS was:
[code]
I'm curious if it has anything to do with the content-length error... Looks like java LS uses JVM 17...

There is also a way to debug the place that throws

[2022-10-03 15:52] nierajsingh commented on #803
Pushed fix. User is now prompted to save when starting/debugging a docker app if there are dirty editors in the project.

[2022-10-03 15:52] #803 closed

[2022-10-04 19:39] Buzzardo commented on #852
Will this make it run on a Mac? It fails to run at present. I think the relevant bit of the crash report is `Exception Type:  EXC_CRASH (SIGKILL (Code Signature Invalid))`.

[2022-10-05 07:08] martinlippert commented on #852
@Buzzardo No, the problem you are facing is a different one. You can solve it via executing this on the command line:

`codesign --force --deep --sign - SpringToolSuite4.app`

[2022-10-05 14:21] Buzzardo commented on #852
Ah, OK. Thanks, Martin.

[2022-10-07 07:41] developerNamrataKhatwani opened #854 "STS is hanging up a lot. Keeps on showing not responding."
Please tell me the minimum system requirements for STS4?

[2022-10-07 07:51] martinlippert commented on #854
The default max memory heap when running the Spring Tools 4 distribution for Eclipse is set to 2GB of heap space (while the JVM itself will consume additional memory), the language server processes that are running as separate processes will consume extra memory, but that depends a lot on the size of your workspace and which editors you keep opened.

You can enable a memory usage indicator in the

[2022-10-07 16:49] BoykoAlex commented on #847
Should be fixed with ec8a5a87ba5b06e8bb4e0fd6ef71405ab1cd0b34

[2022-10-07 16:49] #847 closed

[2022-10-07 16:51] BoykoAlex commented on #815
Should be fixed with the adoption of the latest rewrite

[2022-10-07 16:51] #815 closed

[2022-10-09 19:39] ksanjeev9211 opened #855 "when I click maven installations the IDE stops responding"
STS-4.16 :
windows->preferences->maven->installation-> IDE stops responding.

when I try the same with STS-4.3.2 or other older versions, there is no problem

[2022-10-09 19:40] ksanjeev9211 commented on #855
![image](https://user-images.githubusercontent.com/4118153/194776316-15948687-c18b-4692-aa66-2a0c755c8e7f.png)

[2022-10-10 07:27] martinlippert commented on #855
This was reported to m2e here: https://github.com/eclipse-m2e/m2e-core/issues/923
Another duplicate of this in the sts4 repo is: https://github.com/spring-projects/sts4/issues/850

[2022-10-10 07:27] #855 closed

[2022-10-10 13:57] ksanjeev9211 commented on #855
Thanks a lot!
One quick question, not sure where to create one more issue regarding import of lombok based multi module maven project, m2e never generates .classpath,  shall I go to m2e forum  or shall I create one here?

[2022-10-10 14:44] martinlippert commented on #855
@ksanjeev9211 That sounds like a problem at the intersection of m2e and Lombok, so probably the best choice here is to discuss that at the Lombok issue tracker first and see where you get from there: https://github.com/projectlombok/lombok

[2022-10-11 06:00] SANJITHL opened #857 "installation of spring tools in eclipse"
I am currently using the eclipse version of 2022-06 in this for spring tools at first i installed the spring tools 4 but i didn't receive the spring folder ad the spring files in the eclipse page so again installed the spring tools 3 add-on for spring tools 4 but i have received an error of
Unable to read repository at https://marketplace.eclipse.org/content/spring-tools-3-add-aka-spring-tool-suit

[2022-10-14 11:22] eb-kmd commented on #847
I still have this issue in 1.39.0

[2022-10-14 16:35] chrylis opened #858 "Use specific version in update sites instead of `latest`"
STS ships with update sites for Eclipse and Spring Tools that include the placeholder version `latest`. This is a constant source of trouble when minor version updates (Eclipse and Spring Tools are not semver'd) break other plugins. This normally is a hassle requiring half an hour of update Whac-A-Mole, but with the latest 4.16, [an update to m2e](https://github.com/eclipse-m2e/m2e-core/issues/918

[2022-10-15 01:48] zwssunny commented on #796
code completion for application.properties ,application.yml is not enabled

[2022-10-19 13:36] mplukas opened #859 "Web Tools Platform (WTP) validation is acitvated by default but can not be suspended (or configured) via GUI preferences"
STS 4 includes Maven WTP support and basic support for WAR projects. By default in STS 4 WTP validation is enabled and WAR project building/refreshing activates various (default) WTP validators. However STS 4 is missing preferences for WTP validation configuration and also there is not direct way to suspend WTP validators. On bigger projects (e.g. having a lot of XML files) validation can take con

[2022-10-19 13:56] mplukas opened #860 "Spring XML Config support does not show symbols with scope "File""
Spring XML Config support correctly reads bean definitions from XML resources and displays all of them with scopes "Workspace" or "Project" (and uses them for autocomplete).  But for the selected Spring XML configuration file and scope "in file" (using both Ctrl+6 pop-up and Spring Symbols view) either empty list or XML tag symbols (from Wild Web Developer XML language server ?) are displayed.

(M

[2022-10-19 21:29] a-b opened #861 "VSCode Extension Concourse CI Pipeline Editor to support github.dev aka VSCode for the Web"
**Expected Behavior**

Perhaps with limited functionality, this extension works in VS Code for the Web. I'm interested in JSON schema for concourse files.

**Current Behavior**

 The 'Concourse CI Pipeline Editor' extension is not available in Visual Studio Code - Insiders for the Web

**Context**

I want to get JSON schema for Concourse Pipeline files while editing them in the browser

[2022-10-20 14:54] BoykoAlex commented on #859
I'm thinking of setting `org.eclipse.wst.validation/suspend=true` in the sts product. Thus if one downloads STS distro this setting is going to be set. I suppose we wouldn't want to mess with this setting STS plugins installed via update site...

[2022-10-20 15:22] BoykoAlex commented on #859
Here is the fix: 2cb7b921d586dfc4aaf7aa65c1ca464e41587917

[2022-10-20 16:34] #859 closed

[2022-10-20 16:34] BoykoAlex commented on #859
Please look for the fix in 4.16.1

[2022-10-21 21:32] BoykoAlex commented on #837
Should be fixed with: 6c9543c174f0c010f4f09ec9029b91a875bc0ade

[2022-10-21 21:32] #837 closed

[2022-10-24 17:01] martinlippert commented on #858
Thanks for reaching out @chrylis. I am not exactly sure what you are proposing. Can you explain that in more detail?

I agree that the upgrade to m2e was quite a difficult one, no question about that. But that should probably be reported to the m2e project directly, especially ways to make such an upgrade experience less painful. From the Spring Tools perspective, we tried to assemble the necessar

[2022-10-24 17:12] martinlippert commented on #847
@eb-kmd You can download the latest nightly snapshot build and install that manually in order to see if the fix that Alex mentioned works for you. You can find the link to the latest VSIX file at the bottom of this page: https://dist.springsource.com/snapshot/STS4/nightly-distributions.html.

[2022-10-24 18:48] chrylis commented on #858
Updating the Eclipse platform by a minor version tends to be a big cleanup task whenever you have any outside-STS plugins installed (GRECLIPSE is the particular dependency for my team). I would much rather have the default update site pinned to, e.g., Eclipse 4.24, and receive patch updates but not minor updates until I specifically upgrade my update sites. (Note that much of the difficulty here s

[2022-10-25 20:53] kdvolder commented on #844
Still a problem today, during STS 4 testing for 4.16.1

[2022-11-02 11:01] martinlippert commented on #852
Done, will be included in the next release (4.17.0)

[2022-11-02 11:01] #852 closed

[2022-11-04 08:10] martinlippert opened #862 "[spring-boot-3] live information hovers are broken when running Spring Boot 3 application"
Running petclinic from the springboot3 branch causes the live hovers to not work anymore.
The language server complains about things like:

[code]

[2022-11-04 08:14] martinlippert opened #863 "[refactoring] running Spring Boot 3 open-rewrite migration recipes takes very long"
Using the standard petclinic example and running the "upgrade to Spring Boot 3" recipe takes very very long. We need to improve this. A few thoughts here:

- maybe not use a modal dialog? (this feels very old school and you cannot do anything anymore in between, but not sure about the consequences)
- does open-rewrite resolve the maven project from scratch again? If so, can we skip that step someh

[2022-11-04 08:20] martinlippert opened #864 "[refactoring] converting petclinic to Spring Boot 3 results in broken project"
Converting the standard petclinic sample application to Spring Boot 3 results in a broken project:

- the jakarta persistence api dependency gets added, but this doesn't seem to be necessary

- this dependency doesn't get added:

[code]

so that compile errors are the result.

[2022-11-04 08:22] martinlippert opened #865 "[refactoring] open rewrite refactoring menu item is broken when no language server is running"
The menu item to select and run OpenRewrite recipes is broken and throws exceptions if there is no language server around. We should probably start a language server in case there is no language server running when selecting the menu item or executing a recipe from the dialog.

[2022-11-04 08:31] martinlippert opened #866 "[refactoring] open editors show outdated errors when converting project to Spring Boot 3"
I have a standard petclinic, I have `Vets.java` open in a Java source code editor (without any changes), and I convert the project to Spring Boot 3 using the OpenRewrite recipes.

As a result, the source code editor for `Vets.java` shows a bunch of errors around the changed imports and it looks like the errors are referring to the document content before the conversion (since the error complains a

[2022-11-04 08:33] martinlippert commented on #863
In case we can't speed things up, we should at least have a meaningful progress message that tells the user what is going on that the moment behind the scenes and which step exactly takes a long time at the moment (parsing, downloading dependencies, whatever)

[2022-11-04 08:39] martinlippert opened #867 "[refactoring] converting a simple rest service guide to Spring Boot 3 fails"
Converting a standard `Rest Service` guide to Spring Boot 3 using the OpenRewrite recipes fails with:

- (1) an exception:

[code]

The language server output doesn't show anything, no exception and no other error message related to this.

- (2) the conversion is not complete, the Spring Boot version is not upgraded (probably due to a missing maven repo for milestones/snapshots)

[2022-11-04 08:54] martinlippert commented on #796
@zwssunny can you provide more details on this, we described in the above comment?

[2022-11-04 17:04] BoykoAlex commented on #863
I pass list of JARs to the Maven Project parser but still calculates dependencies without downloading them. I'll double-check if there is anything i can do to speed this up.
The progress used to state which stage it was on (still does in VSCode). I have switched to lsp4e handling of progress messages and now the stage progress messages are gone. I can look into reanimating specific stage messages.

[2022-11-04 17:05] BoykoAlex commented on #864
I thought Rewrite wanted to get this fixed... probably still isn't

[2022-11-04 17:12] BoykoAlex commented on #866
Question 1: Opening editors for affected files in the behaviour of vscode language client. I recall we opened an issues against vscode language client and then were transferred to VSCode itself. Don't think this behaviour is going to change.

Question 2. Perhaps the Spring errors can be removed... probably something we should be able to do. POM isn't saved. Many AST element types aren't resolved a

[2022-11-04 17:14] martinlippert commented on #864
Here are the things that the Spring Boot Migrator project includes at the moment with regards to converting projects to use Spring Boot 3: https://github.com/spring-projects-experimental/spring-boot-migrator/blob/main/components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-2.7-3.0-dependency-version-update.yaml

So it looks to me like we should have our own, custom-made Spring Tools 4

[2022-11-04 17:14] BoykoAlex commented on #867
Yes, I noticed this briefly while upgrading petclinic to 3.0. Thought about giving 4.16.1 a -1 because of this but then I stopped seeing this error and no else from those testing the build complained. If I can reproduce this reliably with Rest Service Guide I'd be happy to get to the bottom of this.

[2022-11-04 17:18] martinlippert commented on #863
This is probably not the highest priority at the moment, but we should take a look into this to find out what is causing the performance issue.

It felt to me like the first time I executed this recipe it was super slow, but the performance improved over time - for whatever reason. Let's investigate why this was slow (I can take a look into this and play around with it a bit) - nothing you need to

[2022-11-04 17:20] martinlippert commented on #866
I tried all this in Eclipse (the latest Spring Tools 4 distribution build on Eclipse 2022-12) and the pom file wasn't opened when I tried this, so the project was already updated to the SB3 dependencies.

[2022-11-04 21:25] BoykoAlex commented on #864
Should be fixed once this is merged: https://github.com/openrewrite/rewrite-migrate-java/pull/144

[2022-11-04 21:33] BoykoAlex commented on #864
There are many maven dependencies that may not have the right package pattern condition... Adding all of them into our recipe upgrades might be too much...

[2022-11-04 21:43] BoykoAlex commented on #864
@martinlippert shall we perhaps switch to rewrite snapshots for now? Less stability I suppose but always on the latest Rewrite code with the latest fixes and additions?

[2022-11-04 21:51] BoykoAlex commented on #866
Just looked at it more carefully... Those seem to be JDT validations showing up somehow... Seems like some work to do around lsp4e :-\ I'll see to it

[2022-11-05 02:02] Raghav-006 commented on #630
Thanks, Worked on the macOS Monterey(MBA 2017). It replaces the existing signature.

[2022-11-06 00:26] coddojrponce commented on #630
Thank you !! Worked like a charm , quick explanation for those wondering what it does https://kubadownload.com/news/codesign-sign-app/

[2022-11-06 16:14] akhilsharma2234 opened #868 "STS Crash on Save event"
I tried running multiple sub-version of STS4 but all are having same issue.

Whenever i save by pressing Ctrl-s or paste something by pressing Ctrl-v STS got crashed and some error file gets created on the home path of STS and the file named as something like : hs_err_pid244936.log

Kindly refer to the error files may be you will get some more information.
[File-1](https://drive.google.com/file/d/

[2022-11-06 17:14] martinlippert commented on #868
Thanks @akhilsharma2234 for filing this issue and for attaching the log files. It looks like that indeed the JVM crashes in those situations.

It is very hard to say why the JVM crashes here, but I've seen two things that I would like to try to - at least - make sure that they are not related to the crash.

- it looks like (for some reason) that a JDK 18 is being used to run the IDE. Can you confi

[2022-11-06 17:20] akhilsharma2234 commented on #868
HI @martinlippert

Kindly refer the details below :
![Screenshot from 2022-11-06 22-48-11](https://user-images.githubusercontent.com/35307766/200185091-7f445151-10f0-41fa-9207-ab34d1b52318.png)

Also, i will try to run the STS without the lombok agent.

My JDK version is :
[code]

Please let me know if you need more details.

Thanks.

[2022-11-07 07:14] martinlippert commented on #864
@BoykoAlex Yes, we should switch to snapshot versions. In addition to that I am thinking the situation where a new Spring Boot (patch) version is being published. It seems to me like the recipe needs to always update to the latest Spring Boot 3.0.x version (instead of having a fixed one in the recipe). But we should probably have that in a separate issue.

[2022-11-07 07:16] martinlippert opened #869 "[refactoring] when converting a project to Spring Boot 3, always use the latest 3.0.x version"
When we convert a project to use Spring Boot 3 using the recipes from OpenRewrite, we need to make sure that we always convert the project to the latest 3.0.x version and that we don't need to ship a new tooling version for patch releases.

A new minor release (3.1.x) might be different though.

[2022-11-07 07:18] martinlippert commented on #862
The underlying reason for this is that actuators are no longer configured to expose everything via JMX by default. You need to enable this for a project manually.

We should add this property automatically when launching a Spring Boot project and JMX/live hovers are enabled.

[2022-11-07 10:57] adarshgoyal1 commented on #868
HI @martinlippert
I am also facing the same issue. I am using the same version of Ubuntu as @akhilsharma2234  is having.
Please look into the matter.

[2022-11-07 11:37] martinlippert commented on #868
This might be the JDK that you have on your system running, but it is not the JDK that is used to run the IDE. The log files reveals that there is a specific, embedded version of the JDK being used from inside of the STS4 installation. You can switch that by changing the `-vm` value in the `SpringToolSuite4.ini`. Please point to a JDK17 and try again.

The easiest way to try that might be to downl

[2022-11-07 11:47] #862 closed

[2022-11-07 11:49] martinlippert opened #870 "remove dependencies on yedit"
We still have dependencies on the outdated YEdit bundle in place and should remove that dependency. All of the YAML editing support is done via a language server these days.

[2022-11-07 12:53] martinlippert commented on #868
I think this might be a duplicate of this:
https://github.com/eclipse-platform/eclipse.platform.swt/issues/158

There is a workaround mentioned at the end, so would be great if you could give that a try to let us know if that works around the issue. If not, it might make sense to jump on that report and add more details to that discussion.

[2022-11-07 13:21] martinlippert commented on #870
Done: https://github.com/spring-projects/sts4/commit/fc34af4102dc6eb6c0c00a86f527b26c837a4cff

[2022-11-07 13:21] #870 closed

[2022-11-07 20:28] BoykoAlex commented on #869
Tried changing this now. Looks like recipes don't support `newVersion: 3.0.x-SNAPSHOT`. Instead the recipe supports: `newVersion: 3.0.x`. Therefore, we'd have to wait for Boot 3 to be released and then can switch `3.0.x` in the recipe.

[2022-11-07 22:45] BoykoAlex commented on #867
@martinlippert did you have POM file opened while upgrading? If yes, switch off XML Language Server and try again I suspect that the errors might go away...

[2022-11-07 23:52] BoykoAlex commented on #864
Should be fixed. Rewrite is fixed and rewrite snapshots consumed by sts4.

[2022-11-07 23:52] #864 closed

[2022-11-08 08:14] Eskibear opened #872 "Refreshing Live Data over HTTP is not working on VS Code"
Following https://github.com/spring-projects/sts4/wiki/Live-Application-Information , configure `boot-java.remote-apps` to get live data over http, it failed to refresh data.

Originally I wanted to connect my app running on Azure, which only expose actuator endpoints over HTTP (JMX port is internal, no public access). It failed to refresh the data. Then I tried locally, it also failed with same e

[2022-11-08 08:15] Eskibear commented on #872
sample project is spring-petclinic, and I was using latest CI build `vscode-spring-boot-1.41.0-202211080047.vsix`

[2022-11-08 12:52] Eskibear opened #873 "README-dev-env.md is outdated"
I want to run/debug spring LS in standalone mode, and make vscode-spring-boot extension to connect to it. The docs looks outdated, as it doesn't match current project structure and how it runs. And I have to find my own way to launch the LS.

I'm not sure what's the best practice to launch `BootLanguageServerBootApp` and debug it. So it would be helpful for potential contributors if the docs can b

[2022-11-08 14:33] martinlippert commented on #872
Yepp, I can reproduce the issue, will work on a fix.

[2022-11-08 20:58] BoykoAlex commented on #872
Hopefully #875 would fix it but it requires discussion before going in.

[2022-11-08 20:58] BoykoAlex commented on #873
I made some corrections to that readme... Hopefully enough. Please re-open it you feel it requires more work.

[2022-11-08 20:58] #873 closed

[2022-11-09 02:23] Eskibear commented on #872
Thanks for the quick fix.
Some additional thoughts about remote-apps scenario. In such cases, apps are already running with their own configurations, that some actuator endpoints might not be exposed. Here querying gcPauses breaks the whole live data feature even though other data like beans and request mappings are successfully fetched.

I think we should make it as robust as not to break the who

[2022-11-09 06:33] murali-1999 commented on #290
@jagankanipakam , @martinlippert  .I experienced the same problem as @jagankanipakam did. I relocated my project folder from my desktop to my C drive in the same way you did, and everything went smoothly.

However, why is this the case? Is it because this pc only has only C drive?  **(I tested it on a different machine and it worked perfectly. I stored my project folder in G Drive.)**

[2022-11-09 09:42] martinlippert commented on #872
@Eskibear Agree, a problem while fetching the metrics data should not break the whole feature. But such a problem should also not be ignored silently without telling the user. Otherwise users might be confused why, e.g., GC information is not showing up in the graph. So we need some kind of error reporting mechanism here to show those problems on the UI. WDYT?

[2022-11-09 09:54] martinlippert opened #877 "[refactoring] investigate memory usage when converting projects"
I've seen a couple of "out of memory" issues showing up on the language server log output when running project conversions via open-rewrite, but haven't investigated the details yet.

We should take a look to see what is going on and I will try to find out which project(s) trigger this behavior.

[2022-11-09 10:53] kalpeke opened #878 "boot dashboad not available in Eclipse 2022-09"
**Describe the bug**
Spring tools menu is not listed on eclipse **Window->Show View->other** after upgrading to eclipse 2022-09 or a fresh install of same
**To Reproduce**
Install a fresh install of eclipse 2022-09 or upgrade to same from version 2022-06 that already had Spring tools installed(for upgrade the spring dash icon disappears from menu bar and is also not available in show menu)

versio

[2022-11-09 11:34] martinlippert commented on #290
@murali-1999 Can you share a few more details, especially the exact and full path of the project you where using when it doesn't work?

And what exactly doesn't work? There are a few hints/questions mentioned in the comments above (especially around the file type being recognized as `Spring Boot Properties` automatically). And in addition to that maybe you can go to the preferences and set a log f

[2022-11-09 12:35] martinlippert commented on #878
Here is what I tried a moment ago to see if I can reproduce this:

- installed a fresh Eclipse 2022-09 JEE package
- install Spring Tools 4 using the Eclipse Marketplace client from the help menu

After that (and accepting some outdated signatures during the installation process) the dashboard appears just fine when I switch to the Java perspective, the icon is in the menu bar - and everything loo

[2022-11-09 13:37] Eskibear opened #879 "404 when getting live metrics over HTTP"
When the query contains space, it throws exception. E.g. below endpoint should work.
`https://hostname/actuator/metrics/jvm.memory.used?tag=area:heap,id:Eden%20Space`

https://github.com/spring-projects/sts4/blob/d70425d71e12bcee834d615316f733440331490b/headless-services/spring-boot-language-server/src/main/java/org/springframework/ide/vscode/boot/java/livehover/v2/HttpActuatorConnection.java#L86-

[2022-11-09 14:46] #878 closed

[2022-11-09 14:46] martinlippert commented on #878
@kalpeke Thanks for letting us know. Closing this now.

[2022-11-09 18:56] BoykoAlex commented on #879
@Eskibear  Can you please re-try this? I suspect that this a41166383353374d7d422b9496e99c8c425c399f might have fixed it...

[2022-11-09 18:57] BoykoAlex commented on #872
Should be fixed now with a41166383353374d7d422b9496e99c8c425c399f

[2022-11-09 18:57] #872 closed

[2022-11-09 23:47] BoykoAlex opened #880 "Keep Language Server running for the workbench lifetime"
The language server provides reconciling for non-opened source files (Java, YAML, Properties and others) within the workspace.
Problem markers show up in the Problems view. The Language Server is good to be started at the Eclipse start up and stopped at the Eclipse shut down for the purpose of showing problem markers in the Problems view.
It is unclear how LSP4E can support such Language Server. T

[2022-11-10 02:05] Eskibear commented on #879
I verified with latest CI build vscode-spring-boot-1.41.0-202211080047.vsix, the error is gone. (because you removed the `encode()` part.

But I the memory plot is not correctly rendered. I suspect maybe we need https://github.com/microsoft/vscode-spring-boot-dashboard/pull/239 to get it right, as in latest CI internal build, you already include https://github.com/spring-projects/sts4/commit/4864c

[2022-11-10 02:05] #879 closed

[2022-11-10 04:40] vudayani-vmw commented on #879
@Eskibear @BoykoAlex
Yes, the [#239](https://github.com/microsoft/vscode-spring-boot-dashboard/pull/239) PR includes the necessary changes to fetch heap/non-heap metrics together to render the memory graph (with https://github.com/spring-projects/sts4/commit/4864c95a865a4f4ef32e26e2c89d8d2c1ea3bae2 commit)

[2022-11-10 08:28] martinlippert commented on #880
I think we can/should discuss what we would like to gain here from the Spring language server perspective. I have two things in mind:

- when to startup the language server?
- when to shutdown the language server?

I don't know exactly what options we have for controlling this across the different clients that we support (Eclipse, VSCode), but we should have an idea about what we would like to ach

[2022-11-10 11:36] martinlippert commented on #872
@Eskibear I tried this with the latest Spring Tools extension CI build and the pre-release dashboard version.

It looks like the overall mechanism to fetch the data via HTTP seems to work, since I can see the live hovers showing up in the source code.

The remote process also shows up in the dashboards view for beans (not for request mappings though), but there are no beans showing up in the tree.

[2022-11-10 13:24] BoykoAlex commented on #880
Hmm... yes, following VSCode steps in this the case of Eclipse would be best indeed. Currently, I've just tried starting LS at the eclipse startup. However, checking the workspace for Boot projects sounds better. It is just that if we are checking the workspace for Boot projects we would have to check it for Boot projects constantly by watching classpath changes in the workspace. This also brings

[2022-11-10 15:47] Eskibear commented on #872
That's fixed in https://github.com/microsoft/vscode-spring-boot-dashboard/commit/57ca22d7487cbfdd285f1661ace9a9531547a851 . It will be auto shipped in next pre-release version (probably 10 hours later from now).

[2022-11-10 15:50] negwu01 commented on #748
Tried running a spring boot application on vscode and got `Failed to refresh live data from process 12243  after retries: 10 - Source spring boot tools extension`. Live hovers were not possible. I added actuator and also added
`-Dspring.liveBeansView.mbeanDomain` and ` "vmArgs": "-Dspring.jmx.enabled=true" ` in the 'launch.json' file as described. But did not get any beans info or live hovers. It

[2022-11-10 15:57] martinlippert opened #882 "[validation] converting petclinic results in wrong warnings on application.properties"
VSCode + working on standard petclinic sample. When converting this to Spring Boot 3 using the OpenRewrite recipes (and clicking the button on the popup to update the project config afterwards), I end up seeing warnings for various properties in the `application.properties` file (those that got introduced during the conversion). Those warnings seem to be incorrect. Opening the application.properti

[2022-11-10 16:10] martinlippert opened #884 "[validation] add preferences to boot version and generation validations"
We need to add preference settings (across Eclipse and VSCode) to switch for each of the Spring Boot version validations between ignore, info, warning, error

[2022-11-10 16:13] martinlippert opened #885 "[validation] add validations for new Spring Boot versions in general"
Beyond the initial validations for the generations (support ranges), we need to add validations for the Spring Boot versions in general (including corresponding preferences):

- newer patch version
- newer minor version
- newer major version

Each of those validations should mention the exact new version that is available. This should only take release versions into account, no snapshot or milesto

[2022-11-10 16:18] martinlippert opened #886 "[refactoring] enhance Spring Boot version validation with quick fix to update"
Each of the validation messages for Spring Boot versions (newer patch, minor, major version) should get a quick fix to execute the update automatically. When doing that, the updates should execute the corresponding recipes to switch the project (and the quick fix should make that very very clear).

- patch version: simple recipe to change the version in the `pom.xml` file - nothing else
- minor an

[2022-11-10 16:30] martinlippert opened #887 "[validation] Spring Boot support range validation messages appear and disappear again"
I tried to convert Petclinic to Spring Boot 3 in VSCode (using the latest Spring Tools CI builds) using the OpenRewrite recipes from the command palette. The conversion itself seems to work fine, although looking at the problems view in VSCode while doing that reveals some strange things.

Among them, I can see (after clicking the button to update the project config in the popup that appears after

[2022-11-10 17:28] Abhi-Codes opened #888 "STS4 automatically closes [crashes] on certain key press in xml files on MacOS Ventura"
**Describe the bug**
I am on Mac OS Ventura and using STS installed from binary spring-tool-suite-4-4.16.1.RELEASE-e4.25.0-macosx.cocoa.x86_64.dmg. I see an issue when editing the pom.xml file. Whenever I try to comment out a dependency by typing in <!, STS abruptly closes. Also typing <! in any other file doesn't close the application, it happens only on XML files.

I didn't notice this behavior

[2022-11-10 20:51] BoykoAlex commented on #880
@martinlippert check out #889 with LSP4E from https://github.com/eclipse/lsp4e/pull/289
Boot LS shouls start if a project in the workspace has Spring on classpath. Boot LS stops if none of the projects have spring on the classpath

[2022-11-10 21:21] BoykoAlex commented on #865
I think the only solution is whatever we come up for #880

[2022-11-11 07:34] martinlippert commented on #888
I tried this on an M1 machine, but that doesn't reproduce the crash. Do you see a crash log file (`hs_err_pid....log`) being created when this happens? If so, it would be great to take a look at it.

[2022-11-11 08:41] Abhi-Codes commented on #888
Hi Martin,

I see a crash report popup open. I have copied the contents into the below gist.
https://gist.github.com/Abhi-Codes/6d01995aeba4a52836d0e06b33ad4769

[2022-11-11 09:08] martinlippert commented on #888
Can you double check this running a plain Eclipse 2022-09 installation? I don't have a Ventura machine on x86_64 around for testing at the moment and double checking this would be great.

[2022-11-11 09:28] Abhi-Codes commented on #888
I do see the same issue with the plain Eclipse 2022-09 installation .

[2022-11-11 09:36] martinlippert commented on #888
As you mentioned on some internal communication channel, this happens in standard Eclipse 2022-09 as well. It is probably a duplicate of https://github.com/eclipse-platform/eclipse.platform.swt/issues/452. There are many ways to reproduce this from what it looks like. Closing this one here as a duplicate of the mentioned issue.

[2022-11-11 09:36] #888 closed

[2022-11-11 16:27] CrisLi opened #890 "SpringToolSuite4 is keeping crashing on MacOS 13.0.1 when pom.xml editor is using"
**Describe the bug**
After I upgrade my MacOS to 13.01, my SpringToolSuite is keeping crashing when I edited a pom.xml file.
I was even can't open the STS4 after I run the command `sudo codesign --force --sign -  /Applications/SpringToolSuite4.app` I can open the STS4. But I can't use it to edit a pom.xml file via the new default pom editor.

I have installed Lombok plugin and changed the -Xmx2048

[2022-11-11 16:49] martinlippert commented on #890
Closing as a duplicate of https://github.com/spring-projects/sts4/issues/888, which points to the underlying issue at https://github.com/eclipse-platform/eclipse.platform.swt/issues/452

[2022-11-11 16:49] #890 closed

[2022-11-11 22:12] BoykoAlex commented on #865
It should have worked in the case of VSCode. This commit should address this issue for VSCode: 5b5ac912ad589f17bc3762632309eb422af14142

[2022-11-14 07:07] martinlippert commented on #888
Looks like a difficult issue. Maybe someone can try this workaround? https://github.com/eclipse-platform/eclipse.platform.swt/issues/452#issuecomment-1295806955 - doesn't seem to be clear whether it works around the problem or not, so giving this a try would be awesome. I don't have a Ventura Intel Mac machine around, so unfortunately can't test this myself at the moment.

[2022-11-14 10:15] jarhuba commented on #748
Same problem here.
Spring Boot 3.0.0-RC2, vscode 1.73.1
Fedora 36, jdk 17
Failed to refresh live data from process 55015 after retries: 10

2022-11-14T11:00:39.055+01:00  INFO 55015 --- [           main] com.crud.tasks.TasksApplication          : Starting TasksApplication using Java 17.0.5 with PID 55015 (/home/jarek/Dokumenty/markownie-webserwis/module_19.2/tasks/bin/main started by jarek in /hom

[2022-11-14 11:44] martinlippert commented on #748
@jarhuba @negwu01 In case you are running a Spring Boot 3 application, you might run into this issue: https://twitter.com/springtools4/status/1589591973878714368. So can you add this additional config to your `application.properties` file?

`management.endpoints.jmx.exposure.include=*`

to see if that fixes the issue?

[2022-11-14 14:28] BoykoAlex commented on #880
@martinlippert perhaps it is fine to leave the Boot LS up once it is up for the lifetime of the workbench? What do you think? (Taking into account comment above)

[2022-11-15 06:40] jarhuba commented on #748
After adding this line vscode works correctly. Thank you.

[2022-11-15 08:42] nierajsingh commented on #887
Pushed fix for the appearing/disappearing marker. Seems the problem was when finding the build file in the java project. Sometimes it was finding the file under /target, which would result in the wrong file being marked, those causing it to "disappear" from the actual file.

[2022-11-16 12:49] martinlippert opened #891 "exception thrown in VSCode when using latest snapshots"
I am using VSCode with the latest pre-releases from:
- Language Support for Java
- Spring Boot Dashboard
- Spring Boot Tools (from the latest VSIX file)

I have a project open in my workspace, created from initializr (web + actuator), on Spring Boot 2.6.12.

After a little while, I see an error popup showing up, complaining about a problem when asking for `textDocument/codeAction`, and showing thi

[2022-11-16 14:26] datenimperator opened #892 "Upgrade commons-text-1.9.jar"
**Describe the bug**
The VScode extension `pivotal.vscode-spring-boot-1.40.0` includes the file `language-server\BOOT-INF\lib\commons-text-1.9.jar`. A critical security issue is reported as CVE-2022-42889 for this release. This error has been fixed in releases 1.10.0 and higher.

Please update the dependency to one not vulnerable.

**To Reproduce**
* Install the current extension "Pivotal Spring B

[2022-11-16 18:30] BoykoAlex commented on #892
@datenimperator @martinlippert we have switched to a snapshot of `rewrite-maven` library which was pulling `commons-text-1.9`. The snapshot is pulling 1.10 and there are releases since Rewrite 7.30.0 which are likely having `commons-text-1.10` as well. If we are okay to wait for the next scheduled release of 1.41 for vscode extensions then I'd keep it opened until the release. Otherwise, if urgent

[2022-11-16 22:07] BoykoAlex commented on #891
This should fix it: https://github.com/spring-projects/sts4/commit/09c62da4147dd5d713525cccd3509c1954935dc8#diff-62f1453b6f943f2d06f4c1ff56d743db59a65f3857dafbf42c8299751be427ceR56

[2022-11-16 22:07] #891 closed

[2022-11-16 22:09] BoykoAlex commented on #887
I think this is fixed

[2022-11-16 23:32] BoykoAlex commented on #892
I find it unlikely that we'd be affected by CVE-2022-42889. The lib `rewrite-maven` only uses `commons-text` for `org.apache.commons.text.StringEscapeUtils` namely methods:
- escapeEcmaScript(String)
- escapeJava(String)
From what I've gathered these methods don't use `StringLookup`. Therefore, I'd keep this opened until the next release when we switch to Rewrite release dependencies and double-ch

[2022-11-17 07:55] martinlippert commented on #892
@datenimperator Please feel free to report the usage of the CVE-effected dependency to the `rewrite-maven` project as well. And thanks for reporting this here.

[2022-11-17 08:07] datenimperator commented on #892
@BoykoAlex @martinlippert thx for responding so quickly, really appreciated. Personally, I do not assume that this is so much of an actual issue, given the way how the lib is used. But this warning comes up if your computer is scanned for vulnerabilities, and many organizations (like my employer) will perform such scans. I think its safe to assume that this warning has been seen already by lots of

[2022-11-17 08:15] datenimperator commented on #892
Done, see openrewrite/rewrite-maven-plugin#438

[2022-11-17 08:36] martinlippert commented on #887
Looks like this is not really fixed yet, here is what I observe using the latest from the nightly builds (all in VSCode):

- I open a project (simple demo project, boot version 2.7.2)
- no editors are open, I don't see anything in the problems view yet (I guess this is due to the lack of starting up the language server early, so expected behavior)
- I open a Java source file, the validations for t

[2022-11-17 08:38] martinlippert commented on #892
@datenimperator ETA for the next release is the week of Dec 7

[2022-11-17 16:18] ogarry80 opened #893 "Vscode Spring Boot Tools 1.40.0 prevents Java Unit Tests from Running/Debugging when JDK 11 is specified"
**Description**
Vscode Spring Boot Tools 1.40.0 prevents Java Unit Tests from Running/Debugging when JDK 11 is specified in  spring-boot.ls.java.home setting.

**To Reproduce**

Prerequisite: VSCode with Java Extension Pack and Spring Boot Extension Pack (version of VSCode : 1.73.1)
- Clone the sample java project linked below
- Download an install an OpenJDK 11
- Open VSCode on the sample java pr

[2022-11-17 16:28] martinlippert commented on #893
Thanks @ogarry80 for reporting this. But why are you setting this preference to a manually installed JDK 11? This setting is used to identify the JDK to run the tooling itself - and is not related to the Java version of your projects at all. That is why I am wondering why you are setting this preference. By default, it uses the JDK 17 that comes embedded in the Java tooling in VSCode.

Aside from

[2022-11-17 16:42] ogarry80 commented on #893
Thanks for the quick reply @martinlippert.
In fact we have a spring boot project with lots of years old legacy code running only on JDK 11.
Maybe i did something wrong but if i don't set this setting manually to point on JDK11 the spring boot app does not starts at all.
It was working well with this manual setting until release of 1.38 or 1.39, i can't remember exactly

[2022-11-17 18:13] martinlippert commented on #893
No worries, happy to hear that everything is working fine again and thanks for letting us know.

[2022-11-17 18:13] #893 closed

[2022-11-17 21:48] jcrben opened #894 "VSCode cross project additional-spring-configuration-metadata.json"
**Expected Behavior**
I have a variety of additional properties which are based upon deployment or libraries. I want my editor to be informed of these but I don't want to embed these configurations into every single project which imports these.

I'd like to have a setting where I can point to a common `additional-spring-configuration-metadata.json` in some path somewhere.

**Current Behavior**

Th

[2022-11-18 07:14] jaoyina opened #895 "Is Windows Arm version in the plan?"
**Expected Behavior**

**Current Behavior**

I saw build 4.16.0 support Linux Arm, just want to know if there will be a Windows Arm64 version in recent plan?

[2022-11-18 07:51] martinlippert commented on #895
This depends on whether the underlying Eclipse platform will support a Windows ARM build. At the moment, there is no such support from Eclipse.

[2022-11-18 07:51] #895 closed

[2022-11-18 08:48] #886 closed, assigned to martinlippert, nierajsingh, BoykoAlex

[2022-11-18 08:48] martinlippert commented on #885
Done.

[2022-11-18 08:48] #885 closed

[2022-11-18 08:48] martinlippert commented on #884
Done.

[2022-11-18 08:48] #884 closed

[2022-11-20 18:32] martinlippert commented on #867
This seems to be the error message that causes the exception:

[code]

It looks like the command to execute the rewrite recipes is being sent to the XML language server:

[code]

[2022-11-20 18:33] martinlippert commented on #867
In addition that it looks to me like the message that is being sent to the language server to execute the command is extremely long (more than 500k (!)). So it looks like we need to investigate why this message is being sent to the XML language server and why this message is so long.

[2022-11-21 00:37] BoykoAlex commented on #867
@martinlippert good finds... I think I understand why the command goes out to XML LS when pom is opened. I think it is because of this:
[code]

Instead i plan to use `LanguageServerRegistry` to find the LS definition for id and then find the exact language server wrapper with the help of `LanguageServerWrapper getLSWrapper(IProject project, LanguageServerDefinition serverDefinition)` find the exac

[2022-11-21 02:53] BoykoAlex commented on #865
Should be fixed with dd2f60ad914db564be066d1d8f16b8e8b847dc18

[2022-11-21 02:53] #865 closed

[2022-11-21 02:55] BoykoAlex commented on #867
I limited command execution only to Boot LS with this: dd2f60ad914db564be066d1d8f16b8e8b847dc18
If 500Kb JSON parameter for the command can go to a separate issue (seems lower priority) then we try closing this one

[2022-11-21 07:18] martinlippert opened #896 "[refactoring] convert autowired field to constructor should make field final"
The refactoring to turn an autowired field into a constructor param should make the field final.

[2022-11-21 07:21] martinlippert opened #897 "[refactoring] reduce size of execute rewrite recipes messages"
The message for the command `sts/rewrite/execute` contains lots of data and has a size of about 500Kb (in my tests). This doesn't seem to be reasonable and we should reduce the size down to the data that is really needed to identify the selected recipes and their params (as a first guess).

[2022-11-21 07:22] martinlippert commented on #867
I created a new issue for the message size issue: https://github.com/spring-projects/sts4/issues/897

[2022-11-21 07:28] martinlippert commented on #867
Tested this with the latest nightly build, looks great. Closing this one as fixed.

[2022-11-21 07:28] #867 closed

[2022-11-21 08:40] martinlippert commented on #894
I think we should add the option to store the information in a `additional-spring-configuration-metadata.json` file that is stored in the workspace metadata (or somewhere else outside of the projects themselves) - and probably a preference to control the exact location of this file.

[2022-11-21 09:01] martinlippert opened #898 "[validation] check for superfluous @Repository annotations on standard Spring Data repositories"
add validation/preference/recipe to detect and remove superfluous @Repository annotations on standard Spring Data repositories.

[2022-11-21 12:39] martinlippert opened #899 "[refactoring] OutOfMemoryError: Java Heap Space"
I have opened a Java source file, this triggered a language server to be started, then seeing this exception in the language server log output:

[code]

[2022-11-21 12:44] martinlippert commented on #899
There is nothing dramatic in the workspace:

- demo
- demo-1
- rest guide complete
- petclinic

[2022-11-21 12:45] martinlippert opened #900 "[refactoring] Exception when trying to convert project"
I have petclinic in the workspace, but nothing open except for the `pom.xml` file. A language server got started for the refactorings dialog to show up, and then, when executing the refactoring, another language server got started and throws this exception:

[code]

The full log output from the language server:

[code]

[2022-11-21 12:48] martinlippert commented on #899
Interestingly, when closing the java source file again, waiting for the language server to shut down, and then re-opening a java file, a new language server process gets created - this time without showing up the memory issue. Strange...

[2022-11-21 13:20] martinlippert opened #901 "[refactoring] double check differences in manually and automatically converted petclinic"
When converting the standard petclinic example from 2.7.x to 3.0.x using the new Spring Tools feature (which uses the OpenRewrite recipes behind the scenes), there are a few minor differences (beyond the ordering of the updated imports, where the OpenRewrite recipe seems to sort them in a specific order compared to the manually changed version):

__`pom.xml`  file changes:__

- OpenRewrite adds a

[2022-11-21 13:25] martinlippert opened #902 "[validation] convert autowired field to constructor should not run on test classes"
The validation to turn `@Autowired` fields into constructor params should not run on test classes.

[2022-11-22 09:49] martinlippert commented on #899
I am looking into this in a bit more detail. The language server is set to `-Xmx1024m` and my workspace is fairly small. Nevertheless I see `OutOfMemoryError: Java heap space` problems appearing continuously.

The thread dumps reveal many threads around OpenRewrite.

First, there is a huge number of threads being idle. Do we need to have so many threads created and waiting for some work to do? I c

[2022-11-22 09:55] martinlippert commented on #899
I am sorry, but this looks way too much to happen in the background when - more or less - doing nothing in the IDE. The easiest way to trigger this seems to have a language server running and then switch the project to another revision/tag/branch. I used petclinic in here, so nothing dramatically large.

[2022-11-22 10:01] martinlippert commented on #899
When I disable the OpenRewrite based reconciling, the memory usage stays within reasonable bounds, even when I execute the SB3 conversion via the dialog. However, when I enable the OpenRewrite reconciling, you can see the immediate spike in memory usage. The fast majority of this memory is being GC'ed once the reconciling is done (if you trigger a GC, for example), but nevertheless it is using a l

[2022-11-22 16:46] martinlippert commented on #814
Just a quick additional comment here: I worked on a few additional improvements in this space around the symbols machinery in order to improve the responsiveness for symbol requests, so might have a positive impact on this as well. In case you would like to try that, feel free to manually install the latest VSIX from https://dist.springsource.com/snapshot/STS4/nightly-distributions.html

[2022-11-22 21:26] BoykoAlex commented on #880
The Boot LS is started/stopped for boot projects present in the workspace for both Eclipse and VSCode. There is currently one exception in the case of Eclipse. If a Java source or Boot properties or YAML file is opened the LS would be started as well regardless whether boot is on the classpath. The LS won't go down in this case unfortunately. We'd need to prevent Boot LS from starting for resource

[2022-11-22 21:28] BoykoAlex commented on #900
This should be addressed with df0d85cef70179ce4950dc41e3c29801ca6c9426 which would start Boot LS early as soon as boot project is discovered in the workspace.

[2022-11-22 21:28] #900 closed

[2022-11-23 03:23] BoykoAlex commented on #902
Should be fixed with c76044cf6560069251203f3153ef7b4c08d5d6e6

[2022-11-23 03:23] #902 closed

[2022-11-23 03:29] BoykoAlex commented on #836
@martinlippert what about removing validations that came from LS when the LS is shut down?

[2022-11-23 04:03] baincd commented on #893
@martinlippert I also had the `spring-boot.ls.java.home` setting set to a JDK 11.  I don't recall the exact reason why, but at some point in the past I had to set this in order for the extension to work.  Because of this, I recently was suddenly unable to run or debug Java applications or tests in VS Code until I was able to devote some time to research and find the culprit.  This was extremely fr

[2022-11-23 04:05] baincd commented on #847
I suspect this was the same issue as #893

[2022-11-23 09:30] martinlippert opened #903 "make sure VSCode shows an error message when running on a JDK <17"
We need to make sure that the VSCode extension double checks the version of the JDK is runs the language server on and reports anything that is <17 to the user as a wrong setting.

See the comment here: https://github.com/spring-projects/sts4/issues/893#issuecomment-1324521291

[2022-11-23 09:30] martinlippert commented on #893
@baincd You are absolutely right, we need to make sure that such a wrong JDK setting is reported to the user instead of failing silently here. No question about that. Filed https://github.com/spring-projects/sts4/issues/903 for this.

[2022-11-23 14:39] BoykoAlex commented on #903
@martinlippert Is this for all spring extensions or just the Spring Boot extension?

[2022-11-23 14:56] martinlippert opened #904 "[validation] prepare version validation for 4.17.0 release"
In order to prepare for the existing API at `https://spring.io/api` to go away sometime soon, we decided to realize the following changes for the upcoming  4.17.0 (that we currently use to validate versions and generations of Spring Boot projects):

- remove the generations validation from the 4.17.0 release. This will be included again in the 4.17.1 release, based on the new API.
- switch the ver

[2022-11-23 16:10] #903 closed, assigned to BoykoAlex

[2022-11-23 16:51] martinlippert commented on #836
@BoykoAlex I think that makes sense.

[2022-11-23 17:54] BoykoAlex commented on #899
Looked to me like it is just a spike in the heap usage when a lot of projects being reconciled. There is support to allow 3 projects being reconciled in parallel. Once the spike is gone heap is around 120Mb for me. Therefore, I went with the suggestion from Rewrite to set `SKIP_SOURCE_SET_TYPE_GENERATION` back for the parser Pushed a919463ca9914d254fac544db291dc6e64e78fa6. Please give it another t

[2022-11-23 18:11] BoykoAlex commented on #836
Validation are removed if LS is shutting down with 35f4e9899b336a087f02f67506246e58b8f719a3
Therefore, this concern should be addressed. If LS is down there won't be any validations from LS left on the client

[2022-11-23 18:11] #836 closed

[2022-11-23 21:53] BoykoAlex opened #905 "Use project's Maven/Gradle repository to determine latest available Spring Boot versions"
Query the configured repositories on the projects for the available spring-boot versions. This would have the benefit of being precise about the available Spring Boot versions in the environment of the user - instead of showing which versions are available in general. But that depends on the amount of work that is necessary to implement this part.

Currently available Spring Boot versions are dete

[2022-11-23 21:55] BoykoAlex commented on #904
I have moved asking Maven/Gradle repo for available spring-boot versions into a separate issue as this would take some time and effort to implement - see #905.
Otherwise should be good to for 4.17.0 with:
- b408bb91214472c1281036bccd2abbef2ee0454d
- ae0cc6dc114fe7d4492df9564ce62e416d85c9b3

[2022-11-24 07:50] martinlippert commented on #904
We need to temporarily remove the preferences around the generations checks as well

[2022-11-24 16:43] martinlippert commented on #904
From looking at the code, it is still fetching the generations information and fails if that information is not around. I will take a deeper look to disable this altogether, not fetching any information, and especially not failing if this information is not around - since we don't do generation validation for this release.

[2022-11-24 16:59] martinlippert commented on #899
I gave this another try and it seems to behave nicely now with a heap limited to -Xmx1024m. :-)

[2022-11-24 16:59] #899 closed

[2022-11-28 02:50] BoykoAlex commented on #904
@martinlippert I can finish this off... resolved this in a hurry unfortunately.

[2022-11-28 15:20] manueljordan opened #906 "Add checksums at download page"
Not sure if it is the correct place but, here we go.

Currently at [https://spring.io/tools](https://spring.io/tools) is possible download in peace STS4 according to all OS, but where are the checksums? I think would be nice add them.

Consider it as a friendly suggestion.

[2022-11-28 19:20] martinlippert commented on #906
We have checksum files around (replace the file extension in the download link with `.md5` or `sha1`, but due to the downloads being available via https only, I am not sure whether you really need a checksum to verify. Nevertheless, you can find them there. We should probably update sha1 to sha256 though.

[2022-11-29 01:08] manueljordan commented on #906
You are the expert here, but I just confirmed that Gradle and Maven for example have/use https to download their installers too and offer the checksum.

[2022-11-29 15:01] BoykoAlex commented on #904
Seems to be fixed with 8f3e0f3664bd4ad50aae16be116de1b543002ac4

[2022-11-29 15:01] #904 closed

[2022-11-29 15:06] BoykoAlex opened #908 "[refactoring] Migrate Boot 2 auto-config to Boot"
Boot 2: Configuration beans to scan are listed in `spring.factories` file under key `org.springframework.boot.autoconfigure.EnableAutoConfiguration` as classes FQNs separated by commas

Boot 3: `spring.factories` key `org.springframework.boot.autoconfigure.EnableAutoConfiguration` is retired. Classes FQNs go into a separate file `org.springframework.boot.autoconfigure.AutoConfiguration.imports` wi

[2022-11-29 15:08] BoykoAlex commented on #869
Should be fixed with 61d6d1ded07f079dae7c1eedf42fa2a1fba29a2c

[2022-11-29 15:08] #869 closed

[2022-11-29 17:49] BoykoAlex commented on #908
Looks like Tyler is going to take on this issue in `rewrite-spring`: https://github.com/openrewrite/rewrite-spring/issues/197

[2022-11-29 22:05] BoykoAlex commented on #896
See https://github.com/openrewrite/rewrite-spring/pull/243

[2022-11-29 22:05] BoykoAlex commented on #898
See https://github.com/openrewrite/rewrite-spring/pull/245

[2022-11-30 00:50] BoykoAlex commented on #877
@martinlippert seems like this is resolved for now with a919463ca9914d254fac544db291dc6e64e78fa6

[2022-11-30 16:19] martinlippert opened #909 "[refactoring] convert project to Spring Boot 3 doesn't update Java to 17 anymore"
The latest nightly builds don't set the Java level to 17 anymore when converting a project to Spring Boot 3 - for example when converting standard petclinic.

[2022-11-30 17:03] BoykoAlex commented on #909
See https://github.com/openrewrite/rewrite-spring/pull/246

[2022-11-30 23:08] #849 closed